NODE_ENV=development
PORT=3000
CORS_ORIGIN=*
DB_HOST=localhost
DB_PORT=1521
ADMIN_DB_USER=system
ADMIN_DB_PASSWORD=your_admin_password
DB_USER=grocery_app
DB_PASSWORD=grocery_app
DB_SERVICE_NAME=XEPDB1
JWT_SECRET=f52b1c85c5a4f4a2dc29dafbd03215650b41cfd9654bb06fc3c483ac184e49e1
JWT_EXPIRES_IN=7d
DB_SCHEMA_FILE=schema.sql
ADMIN_PASSWORD=groceryapp123