@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Application Styles */
:root {
  --brand-gradient: linear-gradient(135deg, #69f6b8 0%, #06b77f 100%);
}

html {
  font-size: 16px;
}

@media (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 3840px) {
  html {
    font-size: 32px;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
